<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>Success!</title>

</head>

<body>
  
  <h1>Authorization successful</h1>

  <div class='main_text'>
  
  <p>Now add the following webhook to any repository that you want to use the webapp on. Set the payload URL to:<p>
    <center>
    <pre>{{ hook_url }}</pre>
    </center>
  </p>Leave the <b>Content type</b> and <b>Secret</b> as-is, then select <i>Let me select individual events.</i> and select the <b>Status</b> checkbox. Make sure the <b>Active</b> checkbox is ticked, and click on <b>Add webhook</b>. You should be all set!</p>
  
  <p><i>Want to help improve this web-app and make it so that webhooks can be automatically set from here? Let me know!</i></p>

  </div>
</body>
</html>